name: Publish to Edge Store

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Publisher Script
        shell: pwsh
        env:
          CLIENTID: ${{ secrets.CLIENTID }}
          APIKEY: ${{ secrets.APIKEY }}
          PRODUCTID: ${{ secrets.PRODUCTID }}
        run: ./publish_to_edge.ps1
